*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    background-image: linear-gradient(to  bottom , rgba(128,128,128,0.541),#e70f94e9);
}
.container
{
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}

#contact
{
    background-color:rgba(23, 184, 224, 0.815);
    padding: 20px;
    margin: 50px 0;
}
#contact h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color:black;
}
#contact h3{
    margin: 5px opx  15px;
    text-align: center;
}
.row
{
    display: flex;
    width: 100% !important;
  padding: 20px 0px;

}
.row .column
{
    margin: 0px 20px;
    width:50px;
}

fieldset
{
    border:medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;

}
#contact input
{
width: 100%;
border: 1px solid rgba(150, 150, 150);
background-color: white;
padding: 10px;
margin: 5px 0;
}

input [type="radio"]
{
    width: 10% !important;

}
#contact .row .radio
{
    border: 1px solid rgb(150, 150, 150);
    background-color: white;
    margin: 7pxx 0 10px;
    padding: 5px;
}
#contact .row .phone
{
    max-width: 100% !important;
    padding-right: 80px;

}
#contact input:hover
{
    transition:0.6 ease-in-out;
    border: 1px solid rgb(68, 68, 68)
}
#contact button{
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    margin: 0 0 5px 40px;
    padding: 10px;
    font-size: 17px;
    width: 150px;
}
#contact button :hover
{
    background-color: rgba(150,150,150);
}
#contact button:focus
{
outline: 0;
border: 1px solid red;
}