<!DOCTYPE html>
<html lang="en"  dir="ltr">
<head>
    <meta charset="utf-8">

<title>Welcome To Homepage</title>

<meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">

<link rel ="stylesheet"  href="home.component.css">

</head>
<body>
    <header>
        <h1>Welcome to Homepage</h1>
    <nav>       
        <input type="checkbox" id="check">    
        <label for="check" class="checkbtn">
            <i class="fas fa-bar"></i>
        </label>
          <label class="logo">Design</label> 
            <ul>
              <li><a class="active" href="#">Home</a></li> 
              <li><a href="#">Serrvices</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Feedback</a></li>
              
            </ul>
            <div class="button">
                <a href="#" class="btn">Explorer More</a>
                <a href="#" class="btn">Follow Me</a>
            </div>

        </nav>
    </header>    
    </body>
